@import './variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

    body {
        background: $lightcolor;
        font-family: Roboto, sans-serif;

        /* DESKTOP NAV + LOGO PART */
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;

            p {
                position: relative;
                color: white;
                text-align: center;
                font-weight: lighter;
                font-size: 15px;
            }

            ul {
                display: none;
            }
        }

        /* CLIP ART */
        .clip {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            clip-path: polygon(100% 0, 100% 45%, 0 70%, 0 0);
            background: $maincolor;
            z-index: -1;
        }

        /* MAIN TEXT / HEADER */
        .maintxt {
            position: relative;
            text-align: center;
            color: $lightcolor;

            .text1 {
                margin: 2em 2em 1em 2em;
                font-weight: bold;

            }
    
            .text2 {
                text-align: center;
                margin-top: 2em;
                margin-bottom: 1em;
                font-weight: normal;
            }

            a {
                position: relative;
                background: $accentcolor;
                padding: 0.5em 3em;
                width: 50px;
                border-radius: 0.5em;
                color: black;
                text-transform: uppercase;
                font-size: 15px;
            }
        }
        
        /* MOBILE NAV */
        .mobilenav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 3em;
            background-color: $maincolor;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;

            ul {
                justify-content: space-between;
                display: flex;
                list-style: none;
                flex-direction: row;
                width: 100vw;
                margin-left: 1em;
                margin-right: 1em;

                a {
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                    font-size: 15px;
                }
            }
        }
    }
