/* COLORS */
/* FONTS */
/*BORDER RADIUS*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  letter-spacing: 0.05em;
}

body {
  background: #ecebeb;
  font-family: Roboto, sans-serif;
  margin-bottom: 3em;
  /* DESKTOP NAV + LOGO PART */
  /* MAIN SECTION 1 */
  /* OUR WORK SECTION, SECTION 2 */
  /* ABOUT SECTION */
  /* CONTACT FORM */
  /* MOBILE NAV */
}

body .secheader {
  margin: 2em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .secheader img {
  width: 40vw;
  border: none;
  margin-bottom: 1em;
  margin-top: 1em;
}

body .secheader h2 {
  font-size: 40px;
  color: #3172db;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

body header p {
  position: relative;
  color: white;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #f5473b;
}

body header ul {
  display: none;
}

body .section1 {
  height: 85vh;
  /* CLIP ART */
  /* MAIN TEXT / HEADER */
  /* SCROLL ICON */
}

body .section1 .clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(100% 0, 100% 45%, 0 70%, 0 0);
          clip-path: polygon(100% 0, 100% 45%, 0 70%, 0 0);
  background: #3172db;
  z-index: -1;
}

body .section1 .maintxt {
  position: relative;
  text-align: center;
  color: #ecebeb;
}

body .section1 .maintxt .text1 {
  margin: 2em 1.5em 1em 1.5em;
  font-weight: bold;
  font-size: 25px;
}

body .section1 .maintxt .text2 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: normal;
  font-size: 25px;
}

body .section1 .maintxt a {
  position: relative;
  background: #f5473b;
  padding: 0.3em 2em;
  width: 50px;
  border-radius: 25px;
  color: #ecebeb;
  text-decoration: none;
  text-transform: uppercase;
}

body .section1 .iconscroll, body .section1 .iconscroll:before {
  position: absolute;
  left: 50%;
}

body .section1 .iconscroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 70%;
  margin-top: -35px;
  -webkit-box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

body .section1 .iconscroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #f5473b;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}

@-webkit-keyframes scroll {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

@keyframes scroll {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

body .section2 {
  text-align: center;
  padding: 2em 1em 0em 1em;
  background: #e0e0e0;
}

body .section2 .subtitle {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 15px;
  color: #f5473b;
}

body .section2 .title {
  font-weight: bold;
  font-size: 25px;
  display: block;
  padding: 0.2em;
}

body .section2 .desc {
  margin-bottom: -0.1em;
  line-height: 1.8em;
  font-weight: 400;
  font-size: 15px;
}

body .section2 .workcontainer img {
  width: 100%;
  margin-bottom: 4em;
  border: 1px solid #3172db;
  border-radius: 25px;
}

body .section3 {
  text-align: center;
  padding: 0em 1em;
}

body .section3 .about {
  padding: 1em;
}

body .section3 .name {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 25px;
  color: #3172db;
}

body .section3 .desc {
  margin-bottom: -0.1em;
  line-height: 1.8em;
  font-weight: 400;
  font-size: 15px;
}

body .section3 .imgleft img {
  width: 70%;
  border: 1px solid #3172db;
  border-radius: 25px;
}

body .section4 {
  overflow: hidden;
  text-align: center;
  padding-bottom: 5em;
  background: #e0e0e0;
}

body .section4 .contactform {
  border-radius: 25px;
}

body .section4 .contactform input[type=text], body .section4 .contactform select {
  width: 100%;
  padding: 12px;
  border: 1px solid #3172db;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

body .section4 .contactform input[type=submit] {
  cursor: pointer;
  border: none;
  background: #f5473b;
  padding: 0.3em 2em;
  width: 50px;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

body .section4 .contactform input[type=submit]:hover {
  background-color: #f5473b -rgba(0, 0, 0, 0.5);
}

body .mobilenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3em;
  background-color: #3172db;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

body .mobilenav ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  margin-left: 1em;
  margin-right: 1em;
}

body .mobilenav ul a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
}
/*# sourceMappingURL=main.css.map */