@import './variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

    body {
        background: $lightcolor;
        font-family: Roboto, sans-serif;

        /* DESKTOP NAV + LOGO PART */
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;

            p {
                position: relative;
                color: white;
                text-align: center;
                font-weight: lighter;
                font-size: $smallerfont;
            }

            ul {
                display: none;
            }
        }

        /* CLIP ART */
        .clip {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            clip-path: polygon(100% 0, 100% 45%, 0 70%, 0 0);
            background: $maincolor;
            z-index: -1;
        }

        /* MAIN TEXT / HEADER */
        .maintxt {
            position: relative;
            text-align: center;
            color: $lightcolor;

            .text1 {
                margin: 2em 2em 1em 2em;
                font-weight: bold;
                font-size: $biggerfont;
            }
    
            .text2 {
                text-align: center;
                margin-top: 2em;
                margin-bottom: 1em;
                font-weight: normal;
                font-size: $biggerfont;
            }

            a {
                position: relative;
                background: $accentcolor;
                padding: 0.5em 3em;
                width: 50px;
                border-radius: 0.5em;
                color: black;
                text-transform: uppercase;
                font-size: $smallerfont;
            }
        }

        /* SCROLL ICON */
        .iconscroll, .iconscroll:before {
            position: absolute;
            left: 50%;
        }

        .iconscroll {
            width: 40px;
            height: 70px;
            margin-left: -20px;
            top: 70%;
            margin-top: -35px;
            box-shadow: inset 0 0 0 1px #000;
            border-radius: 25px;

            &:before {
                content: '';
                width: 8px;
                height: 8px;
                background: #000;
                margin-left: -4px;
                top: 8px;
                border-radius: 4px;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-name: scroll;
            }
            @keyframes scroll {
                100% {
                    opacity: 0;
                }
                0% { 
                    opacity: 1;
                    transform: translateY(46px);
                }
            }
        }


        
        /* MOBILE NAV */
        .mobilenav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 3em;
            background-color: $maincolor;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;

            ul {
                justify-content: space-between;
                display: flex;
                list-style: none;
                flex-direction: row;
                width: 100vw;
                margin-left: 1em;
                margin-right: 1em;

                a {
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                    font-size: $smallerfont;
                }
            }
        }
    }
